name: Get new data and rebuild site

on:
  schedule:
    - cron: "0 9,13,18 * * *"

jobs:
  scrape-and-commit:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@master
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install packages
        run: |
          install.packages(c("devtools", "tidyverse", "pacman", "here", "fst", "blogdown"))
          devtools::install_github("jimmyday12/fitzRoy", force = TRUE)
        shell: Rscript {0}
      - name: Install Hugo
        run: Rscript -e 'blogdown::install_hugo(extended = TRUE, version = "0.66.0")'
      - name: Get data
        run: Rscript -e 'source(here::here("scripts", "weekly_data_process", "weekly_data_process.R"), echo = TRUE)'
      - name: Build site
        run: |
          blogdown:::touch_file(here::here("content", "page", "aflm-ratings-and-simulations.Rmd"))
          blogdown:::touch_file(here::here("content", "page", "aflm-current-tips.Rmd"))
          blogdown:::touch_file(here::here("content", "page", "aflm-predictions.Rmd"))
          blogdown:::touch_file(here::here("content", "page", "aflm-games.Rmd"))
          blogdown:::build_site(TRUE)
        shell: Rscript {0}  
      - name: Commit
        run: |
          git config --global user.name 'James Day'
          git config --global user.email '17557361+jimmyday12@users.noreply.github.com'
          git add .
          git commit -m 'refreshing data and rebuilding site' || echo "No changes to commit"
          git push || echo "No changes to commit"
